/* #354458 - dark blueish */
/* #3a9ad9 - light blueish */
/* #29aba4 - greenish */
/* #e9e0d6 - light tan */ 
/* #eb7260 - reddish */


body {
	background-color: #354458;
}

div.edtHeader {
	background-color: #e9e0d6;
	border-bottom: 8px solid #29aba4;
	border-top: 8px solid #29aba4;
}

#thisPageUrl {
	background-color: #3a9ad9;
}

#thisPageUrl a:visited {color: #e9e0d6;}
#thisPageUrl a:link {color: #e9e0d6;}

div.newTimerInputs {
	background-color: #e9e0d6;
}

div.newTimerInputTitle {
	background-color: #3a9ad9;
	color: #e9e0d6;
}

div.timerName {
	background-color: #eb7260;
	color: #e9e0d6;
}

div.timerDetail {
	background-color: #e9e0d6;
}